<ol class="breadcrumb">
    <li><a href="/"><i class="fa fa-dashboard"></i> Home</a></li>
    <li><a href="/@ViewBag.controller">@ViewBag.controller</a></li>
    <li class="active">@ViewBag.action</li>
</ol>
