<ul class="sidebar-menu">
    <li class="header">COMANDI RAPIDI</li>
    <li>
        <a href="/Home/Template">
            <i class="fa fa-dashboard"></i> <span>Dashboard</span>
        </a>
    </li>
    <li>
        <a href="/Richieste/">
            <i class="fa fa-file"></i> <span>Richiesta Ferie/Permesso</span>
        </a>
    </li>
    <li>
        <a href="/Operatori/">
            <i class="fa fa-users"></i> <span>Operatori</span>
        </a>
    </li>
    <li class="header">MAIN NAVIGATION</li>
    <li class="treeview">
        <a href="#">
            <i class="fa fa-clock-o"></i> <span>i miei Turni</span>
            <span class="pull-right-container">
                <i class="fa fa-angle-left pull-right"></i>
            </span>
        </a>
        <ul class="treeview-menu">
            <li><a href="/turni/programmazione"><i class="fa fa-circle-o"></i> Programmazione</a></li>
            <li><a href="/turni/storico"><i class="fa fa-circle-o"></i> Storico</a></li>
        </ul>
    </li>
    <li class="treeview">
        <a href="#">
            <i class="fa fa-wrench"></i> <span>Parametri</span>
            <span class="pull-right-container">
                <i class="fa fa-angle-left pull-right"></i>
            </span>
        </a>
        <ul class="treeview-menu">
            <li><a href="/ProfiliOrari"><i class="fa fa-circle-o"></i> Profili Orari</a></li>
            <li><a href="/TipoRichieste"><i class="fa fa-circle-o"></i> Tipo Richieste</a></li>
            <li><a href="/TipoStatus"><i class="fa fa-circle-o"></i> Status</a></li>
        </ul>
    </li>


</ul>
